---
import { Image } from 'astro:assets';
import type {ImageMetadata} from "astro";
import ProjectStatus from './ProjectStatus.astro';
const {title, logoPath, logoAlt, description, state, url} = Astro.props;

const logos = import.meta.glob<{ default: ImageMetadata }>('/src/assets/project/logos/*.{jpeg,jpg,png,gif,webp,svg}')
if (!logos[logoPath]) throw new Error(`"${logoPath}" does not exist in glob: "/src/assets/project/logos/*.{jpeg,jpg,png,gif,svg}"`);
---

<div class="project-card-wrapper border p-4 h-full rounded-3xl flex flex-col shadow relative bg-white md:hover:-translate-y-1.5 transition-transform duration-300">
    <div class="project-logo-wrapper bg-white rounded-2xl shadow z-20">
        <Image src={logos[logoPath]()} alt={logoAlt} class="object-contain rounded-2xl project-logo h-full w-full"/>
    </div>
    <div class="flex flex-col flex-auto gap-4 mt-8 justify-center items-center z-10">
        <h2 class="font-bold text-lg">{ title }</h2>
        <p class="text-sm text-center flex-1">{ description }</p>
        <ProjectStatus state={state} url={url} />
    </div>
    <Image src={logos[logoPath]()} alt={logoAlt} class="bg-img-card object-cover grayscale rounded-3xl absolute h-full w-full hidden lg:flex"/>
</div>

<style>
    .project-logo-wrapper {
        height: 33%;
        width: 33%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @media (min-width: 768px) {
      .project-card-wrapper:hover .bg-img-card {
          opacity: 0.05;
      }

      .bg-img-card {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
        transition: opacity .3s;
      }
    }
</style>
