---
import engagements from "../../static/engagements.json";
import type {EngagementInterface} from "../../interface/engagement.interface";
import EngagementCard from "./components/EngagementCard.astro"
const engagementList = engagements.data as [EngagementInterface];
---

<h2 class="alatsi-regular text-4xl">My developper <span class="text-gradient">engagements</span></h2>
<ul class="flex flex-col gap-12 flex-1 mb-36 md:grid grid-cols-2 xl:grid-cols-3 items-center :mdm-0 md:my-14 w-full 2xl:w-3/5">
  {engagementList.map((engagement) => {
    return (<li class="flex h-full">
      <EngagementCard
        imagePath={engagement.imagePath}
        imageAlt={engagement.imageAlt}
        title={engagement.title}
        customClass={engagement.customClass ?? ''}
        description={engagement.description}
        auraColor={engagement.auraColor}
        reversed={engagement.reversed}
      />
    </li>)
  })}
</ul>
