---
import { Image } from 'astro:assets';
import HomeIcon from '../../assets/icon/home.svg'
const navItemList = [
    {
        label: 'Home',
        value: 'home',
        icon: import('../../assets/icon/home.svg'),
    },
    {
        label: 'About me',
        value: 'about',
        iconFile: import('../../assets/icon/user.svg'),
    },
    {
        label: 'Recent work',
        value: 'work',
        icon: import('../../assets/icon/work.svg'),
    },
    {
        label: 'Engagements',
        value: 'engagements',
        iconFile: import('../../assets/icon/rocket.svg'),
    },
    {
        label: 'Contact',
        value: 'contact',
        iconFile: import('../../assets/icon/contact.svg'),
    },
];

const homeIcon = import('../../assets/icon/contact.svg')
---
<nav class="nav-wrapper mt-8 fixed bottom-5 right-1/2 z-50">
    <ul class="glass w-full py-1 px-4 flex justify-around gap-2 rounded-3xl items-center">
        <li class="py-1 px-3 rounded-full active">
            <Image src={HomeIcon} alt="message bubble to represent contact section" />
        </li>
        <li class="py-1 px-3 rounded-full">
            <Image src={HomeIcon} alt="message bubble to represent contact section" />
        </li>
        <li class="py-1 px-3 rounded-full">
            <Image src={HomeIcon} alt="message bubble to represent contact section" />
        </li>
        <li class="py-1 px-3 rounded-full">
            <Image src={HomeIcon} alt="message bubble to represent contact section" />
        </li>
        <li class="py-1 px-3 rounded-full">
            <Image src={HomeIcon} alt="message bubble to represent contact section" />
        </li>
    </ul>
</nav>

<style>
    .glass {
      background: rgba(139, 139, 139, 0.13);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(19px);
    }

    .active {
      color: white;
      background-color: var(--primary);
    }

    .nav-wrapper {
      transform: translate(50%, -50%);
    }
</style>

<script>
    console.log('Welcome, browser console!');
</script>

